body {
  background-color: #ccf5f5;
}
body {
  border-style: dashed double none;
  border-color: rgb(6, 209, 236);
  /*For borders*/
  border-width: 2px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(73, 241, 185);
  /*For hr tag*/
  border-width: 8px;
  /*width of the circles*/
  width: 15%;
}
